# Environments
.env
.env*.local
*.pem

# IDE
.idea/
.vscode/

# Dependency directories
node_modules/
backend_venv/

# Build artifacts
.next/
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Documentation
NEW_KALUMPANG_ACCOUNTS.md
DEV_SETUP.md
PROJECT_PLAN.md
frontend/scripts/create-kalumpang-accounts.js
create_kalumpang_accounts.sql

# Other
/uploads
/downloads
*.zip
*.rar
*.gz
*.7z
.pnp.* 